head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
  title #{title}
  link(rel="icon" href="./favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href=`/index.${timekey}.css`)
  script(src=`/index.${timekey}.js`)
